<?xml version="1.0" encoding="ISO-8859-1"?>
<MenuSpec>

<words>
  <number>3</number>
  <x>300</x>
  <y>100</y>
  <space x="70" y="50"/>
  <i0>Start Game</i0>
  <i1>Help</i1>
  <i2>Exit</i2>
</words>

<clickoff>
  <file>images/clickoff.png</file>
  <width>40</width>
  <height>40</height>
  <src x="0" y="0"/>
  <transparency>false</transparency>
</clickoff>

<clickon>
  <file>images/clickon.png</file>
  <width>40</width>
  <height>40</height>
  <src x="0" y="0"/>
  <transparency>false</transparency>
</clickon>

</MenuSpec>
